mixin banner-slider(slides)

  .banner-slider
    .banner-slider__list-wrap
      .banner-slider__btn-prev(data-btn-prev)
        img(src=require('../../components/banner-slider/img/arrow.svg'))
      
      ul.banner-slider__list(data-container)
        each slide in slides
          li.banner-slider__list-item(data-items)
            if(slide.img.href)
              a.banner-slider__link(href=`${slide.img.href}`)
                if (slide.text)
                  .banner-slider__container-content
                    p.banner-slider__content!= slide.text
                picture
                  source(media=('(max-width: 992px)') srcset=`${slide.img.lg}`)
                  img.banner-slider__img(src=`${slide.img.origin}`)
            else
              if (slide.text)
                .banner-slider__container-content
                  p.banner-slider__content!= slide.text
              picture
                source(media=('(max-width: 992px)') srcset=`${slide.img.lg}`)
                img.banner-slider__img(src=`${slide.img.origin}`)
        
      .banner-slider__btn-next(data-btn-next)
        img(src=require('../../components/banner-slider/img/arrow.svg'))

