mixin partners-section
  section.partners-section
    .partners-section__container
      h6.partners-section__title 
        | Мировое признание 
        br
        | очистителей воздуха IQAir
      ul.partners-section__list
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-1.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-2.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-3.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-5.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-1.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-3.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-6.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-2.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-7.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-1.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-8.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-9.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-10.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-11.png'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-12.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-13.jpg'), alt='Логотип')
        li.partners-section__list-item
          img.partners-section__list-img(src=require('./components/partners-section/img/logos/logo-14.jpg'), alt='Логотип')