mixin footer(links)
  footer.footer
    .container
      .row.align-items-center.justify-content-between
        .col-md-auto.col-12
          .footer__logo
            a(href='')
              img(src=require('../../components/footer/img/logo.png') alt='Логотип')
        .col-lg-auto.col
          nav.footer__nav
            ul
              each link in links.menu 
                li
                  a(href=`${link.href}`)= link.title
              
      .row.align-items-center.justify-content-between.footer__phone
        each link in links.contacts
          .col-md-auto.col-12
            a.footer__phone__tel(href=`${link.href}`)= link.phone
            p.footer__phone__label= link.label

      .footer__bot
        .row.align-items-center
          .col-md-4
            p.footer__copyright
              | © 2009—2019 Центр экологии жилья Breeeth!
          .col-md-auto.mx-auto
            a(href='#') Политика конфиденциальности
          .col-md-4
            .footer__soc
              ul
                li
                  a(href='#' target='_blank')
                    img(src=require('../../components/footer/img/icons/insta.png') alt='Иконка Instagram')
                li
                  a(href='#' target='_blank')
                    img(src=require('../../components/footer/img/icons/facebook.png') alt='Иконка Facebook')
