- 
  var reviews = [
    {
      title: 'BORK A804 против IQAir. Обзор и тест очистителей воздуха',
      src: require('../../components/press-section/img/review-1.png'),
      href: '#'
    },
    {
      title: 'Как сделать воздух чище с IQAir HealthPro 250',
      src: require('../../components/press-section/img/review-2.png'),
      href: '#'
    },
    {
      title: 'Обзор и сравнение шести очистителей воздуха',
      src: require('../../components/press-section/img/review-3.png'),
      href: '#'
    }
  ]

-
  var platforms = [
    {
      title: 'Обзор на YouTube',
      src: require('../../components/press-section/img/logos/logo-1.svg'),
      href: '#'
    },
    {
      title: 'Обзор на HI-TECH@MAIL.RU',
      src: require('../../components/press-section/img/logos/logo-2.svg'),
      href: '#'
    },
    {
      title: 'Обзор в журнале «Потребитель»',
      src: require('../../components/press-section/img/logos/logo-3.png'),
      href: '#'
    },
    {
      title: 'Обзор программы «Чудо техники»',
      src: require('../../components/press-section/img/logos/logo-4.png'),
      href: '#'
    }
  ]

mixin press-section
  section#press-section.press-section
    .container.max-width-960px
      .row.press-section__banner-block
        .col
          a.press-section__banner-link.w-100(href='#')
            img.press-section__banner-img.img-responsive(src=require('../../components/press-section/img/banner.png'), alt='Баннер')
      .row.press-section__reviews-block
        each review in reviews
          .col-12.col-lg-4.mb-4.mb-lg-0.press-section__review
            a.press-section__review-link(href=`${review.href}`)
              img.press-section__review-img.img-responsive(src=`${review.src}`, alt=`${review.title}`)
              p.press-section__review-title= review.title
      .row.press-section__platforms-block
        each platform in platforms
          .col-12.col-lg-3.press-section__platform.mb-3.mb-lg-0
            a.press-section__platform-link(href=`${platform.href}` target='_blank')
              img.press-section__platform-img(src=`${platform.src}`, alt=`${platform.title}`)
              p.press-section__platform-title= platform.title